.cards-container {
    max-width: 700px;
    margin: 0 auto;
}

ul.cards-list {
    width: 620px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

li.list-item {
    width: 30%;
}

.image-wrapper {
    height: 180px;
}

.card-box {
    height: 200px;
    display: flex;
    background-color: #e4e4e4;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}

.card-title {
    margin: 0 auto;
}

.card-text {
    font-size: 14px;
}

a.card-link {
    height: 30px;
    padding: 8px 9px 0px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #1b7ab1;
    border-radius: 10px;
}

img.card-image {
    width: 100%;
    height: 100%;
}